* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
}

#container {
    padding: 4px;
    background-color: yellowgreen;
}

.row {
    margin-top: 12px;
    width: 100%;
    max-width: 1200px;
}

.border-main {
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

h1 {
    color: red;
}